{
    ApplicationDescription = "An application to transfer photos from a digital camera.";
    ApplicationIcon = "";
    ApplicationName = Snapshot;
    ApplicationRelease = "0.4.0";
    Authors = ("Andreas Schik <andreas@schik.de>");
    Copyright = "Copyright (C) 2015, 2019 by Andreas Schik";
    CopyrightDescription = "Released under GPL";
    FullVersionID = "0.4.0";
    URL = "http://www.andreasschik.de";
}
